# =========================
# Project specific
# =========================

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea/

# Visual Code
.vscode/

# =========================
# node.js
# =========================
node_modules

# =========================
# npm
# =========================
package-lock.json
npm-debug.log
*/.npm

# =========================
# Testing
# =========================
coverage
.nyc_output
